body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  text-align: center;
  width:100vw;
}


@media only screen and (min-width: 0px) and (max-width: 375px) {

  .Resume-container {
    justify-content: center;
    font-family: 'Calibri';
    width: 100%;
    margin: 0 auto;
  }


  .Paper-container {
    font-size:10pt;
  }

  .Paper-skills {
    margin-left:0px;
    font-size:10pt;
  }

  .Paper-projects-title {
    font-size:12pt;
  }

  .Paper-skills-title {
    font-size:8pt;
  }

  .Paper-skills li {
    font-size:8pt;
  }

  .Paper-projects li {
    padding: 7px;
    margin-left: 10px;
  }

  .Paper-education {
    text-align: left;
    font-size:10pt;
  }

  .Skills-text1 {
    font-size:10pt;
  }

  .Skills-text2 {
    font-size:10pt;
  }

  .Navbar-title {
    color: black;
    display: block;
    font-family: 'Montserrat';
    font-style:'sans-serif';
    font-size: 10pt;
  }

}

@media only screen and (min-width: 376px) and (max-width: 768px) {

  .Resume-container {
    justify-content: center;
    font-family: 'Calibri';
    width: 100%;
    margin: 0 auto;
  }

  .Paper-container {
    font-size:10pt;
  }

  .Paper-projects-title {
    font-size:12pt;
  }

  .Paper-skills {
    margin-left:0px;
  }

  .Paper-skills-title {
    font-size:9pt;
  }

  .Paper-projects li {
    padding: 7px;
    margin-left: 10px;
  }

  .Paper-skills li {
    font-size:10pt;
  }

  .App-snackbar {
    display:none;
  }

  .Paper-education {
    text-align: left;
    font-size:9pt;
  }

  .Skills-text1 {
    font-size:10pt;
  }

  .Skills-text2 {
    font-size:10pt;
  }

  .Navbar-title {
    color: black;
    display: block;
    font-family: 'Montserrat';
    font-style:'sans-serif';
    font-size: 10pt;
  }

}

@media only screen and (min-width: 769px) and (max-width: 1024px) {

  .Resume-container {
    justify-content: center;
    font-family: 'Calibri';
    width: 85%;
    margin: 0 auto;
  }

  .Paper-skills {
    margin-left:50px;
    font-size:10pt;
  }

  .Paper-skills li {
    font-size:10pt;
  }

  .Paper-projects li {
    padding: 7px;
    margin-left: 85px;
  }

  .Paper-skills {
    margin-left:30px;
    font-size:10pt;
  }

  .Paper-skills-title {
    font-size:12pt;
  }

  .Paper-education-text {
    font-size: 8pt;
  }

  .Paper-education {
    text-align: left;
  }

  .Footer-text {
    color: gray;
    font-size: 8pt;
  }

  .Skills-text1 {
    font-size:12pt;
  }

  .Skills-text2 {
    font-size:12pt;
  }

  .Navbar-title {
    color: black;
    display: block;
    font-family: 'Montserrat';
    font-style:'sans-serif';
    font-size: 12pt;
  }

}

@media only screen and (min-width: 1025px) and (max-width: 1366px) {

  .Resume-container {
    justify-content: center;
    font-family: 'Calibri';
    width: 75%;
    margin: 0 auto;
  }

  .Paper-projects li {
    padding: 7px;
    margin-left: 170px;
  }

  .Paper-skills {
    margin-left:100px;
  }

  .Paper-education-text {
    font-size: 12pt;
  }

  .Paper-education {
    text-align: left;
  }

  .Skills-text1 {
    font-size:12pt;
  }

  .Skills-text2 {
    font-size:12pt;
  }

  .Navbar-title {
    color: black;
    display: block;
    font-family: 'Montserrat';
    font-style:'sans-serif';
    font-size: 12pt;
  }
}

@media only screen and (min-width: 1367px) and (max-width: 1920px) {
  .Resume-container {
    justify-content: center;
    font-family: 'Calibri';
    width: 65%;
    margin: 0 auto;
  }


  .Paper-projects li {
    padding: 7px;
    margin-left: 170px;
  }

  .Paper-skills {
    margin-left:100px;
  }

  .App {
    position: relative;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
  }

  .Paper-education {
    text-align: left;
  }

  .Skills-text1 {
    font-size:12pt;
  }

  .Skills-text2 {
    font-size:12pt;
  }

  .Navbar-title {
    color: black;
    display: block;
    font-family: 'Montserrat';
    font-style:'sans-serif';
    font-size: 12pt;
  }

}
