.Navbar-container {
  text-align:center;
}

.Navbar-github {
  width: 55px;
  padding: 15px;
}

.Navbar-linkedin {
  width: 55px;
  padding: 15px;

}

.Navbar-facebook {
  width: 55px;
  padding: 15px;

}

.Navbar-gmail {
  width: 55px;
  padding: 15px;

}