@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Navbar-container {
  text-align:center;
  border-bottom: 1px solid lightgray;
  background-color: white;
}

.Navbar-github {
  width: 55px;
  padding: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Navbar-github:hover {
  width:75px;
}

.Navbar-linkedin {
  width: 55px;
  padding: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Navbar-linkedin:hover {
  width:75px;
}

.Navbar-resume {
  width: 55px;
  padding: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Navbar-resume:hover {
  width:75px;
}

.Navbar-facebook {
  width: 55px;
  padding: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Navbar-facebook:hover {
  width:75px;
}

.Navbar-gmail {
  width: 55px;
  padding: 15px;
  transition: .5s ease;
  backface-visibility: hidden;
}


.Navbar-gmail:hover {
  width:75px;
}