.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color:#f2f2f2 */
}

.App-download {
  width: 35px;
  margin-left:20px;
}

.message-id {
  font-size: 14pt;
}