@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Project-container {
  display: inline-block;
}

.Project-githubLink {
  text-decoration: none;
}

.img__wrap {
  position: relative;
  height: 470px;
  width: 257px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 50;
  left: 1;
  right: 0;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 2;
}

.img__description {
  transition: .3s;
  transform: translateY(-5em);
  background-color: #2E3133;
  border-radius: 2px;
  font-size: 14pt;
  width: 120px;
  padding: 7px;
  margin:10px;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.img__wrap:hover .img__description {
  transform: translateY(0);
  font-family: 'Montserrat', sans-serif;

}