@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

.Modal-container {
  text-align:center;
  min-height: 18vh;
  margin-top:50px;

}

.Modal-button {
  border: 1px solid lightgray !important;
}

.Modal-text {
  font-size: 18pt;
  padding:5px;
  font-family: 'Montserrat', sans-serif;
}