.Paper-container {
  margin:0 auto;
  width: 90%;
  padding-top:175px;
  text-align: center;
  font-family: 'Calibri', sans-serif;
}

.Paper-label {
  color: black;
  display: block;
  background-color: #E0E0E0;
  margin-bottom: 10px;
  font-weight: bolder;
  font-size: 14pt;
  padding: 4px;
  letter-spacing: 2px;
}

.Paper-Header {
  padding: 10px;
  margin-bottom: 10px;
}

.Paper-skills {
  text-align: left;
}

.Paper-skills li {
  padding: 7px;
}

.Paper-hobbies {
  text-align: left;
}

.Paper-hobbies li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-close {
  width: 25px;
  padding: 10px;
  float: left;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Paper-close:hover {
  cursor: pointer;
}

