.Paper-container {
  margin:0 auto;
  width: 90%;
  padding-top:200px;
  text-align: center;
  margin-bottom:100px;
  font-family: 'Calibri', sans-serif;

}

.Paper-Header {
  padding: 10px;
  margin-bottom: 10px;
}

.Paper-skills {
  text-align: left;
  margin-left: 170px;
}

.Paper-skills li {
  padding: 7px;
}

.Paper-hobbies {
  text-align: left;
}

.Paper-hobbies li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-close {
  width: 25px;
  padding: 10px;
  float: left;
  transition: .5s ease;
  backface-visibility: hidden;
}

.Paper-close:hover {
  cursor: pointer;
}

