.Paper-container {
  margin:0 auto;
  width: 80%;
  padding-top:200px;
  text-align: center;
}

.Paper-Header {
  padding: 10px;
  margin-bottom: 10px;
}

.Paper-skills {
  text-align: left;
  margin-left: 170px;
}

.Paper-skills li {
  padding: 7px;
}

.Paper-education {
  text-align: left;
}

.Paper-education li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-projects {
  text-align: left;
}

.Paper-projects li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-experience {
  text-align: left;
}

.Paper-experience li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-hobbies {
  text-align: left;
}

.Paper-hobbies li {
  padding: 7px;
  margin-left: 170px;
}

.Paper-close {
  width: 25px;
  float: left;
}

