.Paper-skills {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PaperSkills-container1 {
  flex-grow: 1;
  margin-right: auto;
}

.PaperSkills-container2 {
  margin-left: auto;
  flex-direction: row;
}

.Paper-skills > div {
  flex: 1;
}