.Paper-skills {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

/* .Paper-skills-title {
  text-align: left;
  font-size: 12pt;
  letter-spacing: 2px;
  display: block;
} */

.PaperSkills-container1 {
  flex-grow: 1;
  margin-right: auto;
}

.PaperSkills-container2 {
  margin-left: auto;
  flex-direction: row;
}

.Paper-skills > div {
  flex: 1;
}