.Header-container {
  text-align: center;
  min-height: 50vh;
  padding-top:90px;
}

.Header-name {
  font-size: 72pt;
}

.Header-contact {
  font-size: 22pt;
}

.Header-github {
  font-size: 22pt;
}
