@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Inconsolata&display=swap');

.Header-container {
  text-align: center;
  min-height: 50vh;
  padding-top:175px;
  font-family: 'Montserrat', sans-serif;
}

.Header-name {
  font-size: 80pt;
  padding-top:300px;
}

.Header-name2 {
  font-size: 45pt;
  padding-top:300px;
}

/* .Header-name2::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.5s infinite;
	-moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
  animation-duration: 1s;
} */

.Header-contact {
  font-size: 22pt;
  margin-top:70px;
}

.Header-github {
  font-size: 22pt;
}

.Header-tick {
  width:10px;
  margin-left: 5px;
}

.Header-desc1 {
  font-size: 12pt;
  color: gray;
  margin-top:40px;
}

.Header-desc2 {
  font-size: 12pt;
  color: gray;
  padding-right: 5px;
}

@keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes blink{
  0% { opacity:1; }
  50% { opacity:0; }
  100% { opacity:1; }
}

/* .typed-cursor{
  font-size:70pt;
} */

.typed-cursor{
  opacity: 0;
  display: none;
}

.Header-name::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.5s infinite;
	-moz-animation: blink 0.5s infinite;
  animation: blink 0.5s infinite;
  animation-duration: 1s;
}
